* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.insta-img{
    width: 30vw;
    height: 30vw;
    border-radius: 1vw;
    background-color: red;
}

.insta-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1vw;
}